body {
    background:linear-gradient(45deg, rgb(245, 145, 99), rgb(136, 1, 1));
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family:'Courier New', Courier, monospace;
 }
 header{
     width: 100%;
     text-align: center;
     padding: 10px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 main {
     display: flex;
     justify-content: center;
 }
 
 fieldset {
     box-shadow: 7px 7px 20px #50060644;
     border-radius: 8px;
     border-style: none;
     background-color: rgb(219, 219, 219);
     padding: 20px;
     min-width: 25%;
     width: 40%;
     text-align: center;
     font-family:'Courier New', Courier, monospace;
 }